  .first-section {
    background-color: #0E0F11;
    padding: 10rem 15% 5rem 15%;
    height: auto;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
  }

  .first-section .sk-ww-medium-publication-feed .sk-medium-publication-feed-name {
    text-align: center;
  }

.first-section .sk-ww-medium-publication-feed .sk-medium-publication-feed-profile-description {
  padding: 10px 5px 5px 5px;
  text-align: center;
}

  .tutorial_link {
    display: none;
  }
