* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: #FFFFFE;
  font-family: 'DM Sans', sans-serif;
}

/***********************First Section*************************/
.first-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 1200px;
  width: 100%;
  padding: 48px 0 0 0;
  background-color: #0E0F11;
}

.f1-carousel {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 1000px;
  width: 100%;
}

.f1-wrapper {
  position: relative;
  display: flex;
  height: 750px;
  width: 550px;
  overflow: hidden;
  z-index: 1;
}

.f1-slider {
  display: flex;
  position: relative;
  left: -550px;
  width: 10000px;
}

.f1-slider.shifting {
  transition: left .2s ease-out;
}

.f1-content {
  position: relative;
  height: 750px;
  width: 550px;
  cursor: pointer;
}

.f1-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.control {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #2C2C2C;
  color: #FFFFFE;
  border-radius: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}

.prev {
  padding: 10px 0 0 15px;
  left: 10%;
}

.next {
  padding: 10px 0 0 20px;
  right: 10%;
}

.control i {
  font-size: 32px;
}

.prev:active, .next:active {
  transform: scale(.8);
}

.navBtn {
  margin: 8px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #FFFFFF;
  border: none;
  opacity: 0.1;
}

.navBtn.current {
  opacity: 1;
}

.f1-container {
  margin-top: 20px;
  height: 200px;
  display: flex;
}

.carBox {
  position: relative;
  user-select: none;
  background-color: #18191B;
  margin: 0 16px;
  padding: 24px;
  cursor: pointer;
  height: 150px;
  width: 200px;
  border: none;
  border-radius: 16px;
  opacity: 0.5;
}

.carBox.active {
  border: 3px solid #AB3A3B;
  opacity: 1;
}

.carBox-head, .carBox p {
  border: none;
  text-align: center;
}

.carBox-head h3 {
  margin: 0 0 4px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #F2F2F2;
}

.carBox-head p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #F2F2F2;
}

.carBox hr {
  margin: 12px 45%;
  width: 10%;
  border-top: 2px solid #595959;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.resBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 150px;
  width: 700px;
}

.resBox a {
  border: none;
  margin: 0 0 24px 0;
  height: 65px;
  width: 100%;
  text-align: center;
  padding: 20px 0 0 0;
  background-color: #AB3A3B;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  border-radius: 100px;
}


.resBox a:hover {
  background-color: #FFFFFF;
  font-weight: 600;
  color: #AB3A3B;
}

.reBox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .prev {
    padding: 10px 0 0 15px;
    left: 5%;
  }

  .next {
    padding: 10px 0 0 20px;
    right: 5%;
  }
}

@media (max-width: 858px) {
  .first-section {
    height: auto;
    padding: 48px 0 0 0;
  }

  .f1-carousel {
    height: auto;
  }

  .f1-wrapper {
    height: auto;
    width: 90vw;
  }

  .f1-slider {
    left: -90vw;
    width: 10000px;
  }

  .f1-content {
    height: auto;
    width: 90vw;
  }

  .control {
    display: none;
  }

  .f1-container {
    height: auto;
    width: 100%;
    padding: 0 5%;
    flex-flow: column nowrap;
  }

  .carBox {
    margin: 16px 0;
    height: 80px;
    width: 100%;
    padding: 0 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .carBox hr {
    display: none;
  }

  .resBox {
    width: 100%;
    padding: 0 10%;
  }
}

@media (max-width: 550px) {
  .navBtn {
    margin: 8px;
    height: 15px;
    width: 15px;
  }
}

/***********************Second Section*************************/
.second-section {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #0E0F11;
}

.s2-container {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2-detailBox {
  position: relative;
  height: 600px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2-detailBox div {
  width: 450px;
  height: auto;
}

.s2-detailBox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #C7C7C7;
}

.s2-detailBox h2 {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 64px;
  line-height: 86px;
  color: #FFFFFE;
}

.s2-imgBox {
  position: relative;
  height: 600px;
  width: 55%;
}

.s2-imgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.s2-floatBox {
  position: absolute;
  border-radius: 16px;
  padding: 12px 0;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

.s2-floatBox:nth-of-type(1) {
  width: 240px;
  height: 70px;
  top: 50%;
  right: 50%;
  transform: translate(30%, -25%);
}

.s2-floatBox:nth-of-type(2) {
  width: 180px;
  height: 45px;
  bottom: 15%;
  right: 25%;
  transform: translate(25%, 25%);
}

.s2-floatBox div {
  position: absolute;
  width: 0;
  height: 0;
}

.s2-floatBox div:nth-of-type(1) {
  top: -14px;
  right: 40px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFFFFF;
}

.s2-floatBox div:nth-of-type(2) {
  top: -50px;
  right: 50px;
  padding: 5px;
  background-color: #FFFFFF;
  border-radius: 100%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 1200px) {
  .second-section {
    height: auto;
    padding: 90px 0 0 0;
  }

  .s2-container {
    flex-flow: column nowrap;
    height: 960px;
  }

  .s2-detailBox {
    height: 210px;
    width: 100%;
    padding: 0 0 0 10%;
    justify-content: flex-start;
  }

  .s2-detailBox div {
    width: 550px;
  }

  .s2-imgBox {
    width: 100%;
    height: 750px;
  }
}

@media (max-width: 858px) {
  .s2-container {
    height: auto;
  }

  .s2-detailBox {
    height: auto;
    padding: 0 10%;
    justify-content: center;
  }

  .s2-detailBox div {
    width: 100%;
  }

  .s2-detailBox h2 {
    font-size: 44px;
    line-height: 59px;
  }

  .s2-imgBox {
    height: auto;
  }

  .s2-floatBox {
    display: none;
  }
}

/***********************Third Section*************************/
.third-section {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #0E0F11;
}

.t3-container {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t3-imgBox {
  position: relative;
  height: 600px;
  width: 55%;
}

.t3-imgBox img {
  height: 100%;
  object-fit: cover;
}

.t3-floatBox {
  position: absolute;
  width: 240px;
  height: 70px;
  top: 30%;
  left: 20vw;
  transform: translate(30%, -25%);
  border-radius: 16px;
  padding: 16px 0;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

.t3-floatBox div {
  position: absolute;
  width: 0;
  height: 0;
}

.t3-floatBox div:nth-of-type(1) {
  top: -14px;
  right: 40px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFFFFF;
}

.t3-floatBox div:nth-of-type(2) {
  top: -50px;
  right: 50px;
  padding: 5px;
  background-color: #FFFFFF;
  border-radius: 100%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
}

.t3-detailBox {
  position: relative;
  height: 600px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t3-detailBox div {
  width: 450px;
  height: auto;
}

.t3-innerBox div, .t3-innerBox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #C7C7C7;
}

.t3-innerBox div {
  width: 450px;
  background-color: #292929;
  padding: 16px;
  border-radius: 16px;
}

.t3-innerBox div:nth-of-type(1) {
  margin: 8px 0 16px 0;
}

.t3-detailBox h2 {
  font-weight: 500;
  font-size: 64px;
  line-height: 86px;
  color: #FFFFFE;
}

@media (max-width: 1200px) {
  .third-section {
    height: auto;
    padding: 90px 0 0 0;
  }

  .t3-container {
    flex-flow: column-reverse nowrap;
    height: 1000px;
  }

  .t3-detailBox {
    height: 250px;
    width: 100%;
    padding: 0 0 0 10%;
    justify-content: flex-start;
  }

  .t3-detailBox div {
    width: 550px;
  }

  .t3-imgBox {
    width: 100%;
    height: 750px;
  }

  .t3-imgBox img {
    width: 100%;
  }

  .t3-floatBox {
    top: 25%;
    left: 40vw;
  }
}

@media (max-width: 858px) {
  .t3-container {
    height: auto;
  }

  .t3-detailBox {
    height: auto;
    padding: 0 10%;
    justify-content: center;
  }

  .t3-detailBox div {
    width: 100%;
  }

  .t3-detailBox h2 {
    font-size: 44px;
    line-height: 59px;
  }

  .t3-imgBox {
    height: auto;
  }

  .t3-floatBox {
    display: none;
  }
}

/***********************Fourth Section*************************/
.fourth-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 0;
  background-color: #0E0F11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  position: relative;
  height: auto;
  width: 1104px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flex-1, .flex-2, .flex-3, .flex-4, .flex-5, .flex-6, .flex-7 {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 0 32px 0;
}

.flex-1 h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
  color: #FFFFFE;
}

.flex-2 h2, .flex-4 h2, .flex-6 h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  color: #FFFFFE;
}

.flex-6 h2 {
  min-width: 135px;
}

.flex-2 hr, .flex-4 hr, .flex-6 hr {
  margin: 20px 10px;
  width: 100%;
  border-top: 3px solid #292929;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.flex-3, .flex-5, .flex-7 {
  flex-flow: row wrap;
}

.flex3-box, .flex5-box, .flex7-box {
  width: 275px;
}

.flex3-box li, .flex5-box li, .flex7-box li {
  margin: 0 0 16px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #FFFFFE;
}

.flex3-box ul, .flex5-box ul, .flex7-box ul {
  padding: 0 24px 0 24px;
}

.flex5-box:nth-of-type(5), .flex5-box:nth-of-type(6) {
  margin: 16px 0 0 0;
}

.flex7-box:nth-of-type(5), .flex7-box:nth-of-type(6), .flex7-box:nth-of-type(7), .flex7-box:nth-of-type(8), .flex7-box:nth-of-type(9) {
    margin: 16px 0 0 0;
}

.flex3-box ul li, .flex5-box ul li, .flex7-box ul li {
  font-weight: 400;
  font-size: 16px;
  list-style: square;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #C7C7C7;
  opacity: 0.6;
}

@media (max-width: 1200px) {
  .flex-container {
    width: 775px;
  }

  .flex3-box, .flex5-box, .flex7-box {
    width: 50%;
  }

  .flex3-box:nth-of-type(3), .flex3-box:nth-of-type(4) {
    margin: 16px 0 0 0;
  }

  .flex5-box:nth-of-type(3), .flex5-box:nth-of-type(4) {
    margin: 16px 0;
  }

  .flex5-box:nth-of-type(5), .flex5-box:nth-of-type(6) {
    margin: 0;
  }
}

@media (max-width: 858px) {
  .fourth-section {
    padding: 60px 10%;
  }

  .flex-container {
    width: 100%;
  }
}

/***********************Fifth Section*************************/
.fifth-section {
  position: relative;
  height: 600px;
  width: 100%;
  background-color: #0E0F11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appDetailsBox {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-detailBox {
  width: 460px;
}

.appDetailsBox h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 86px;
  color: #FFFFFE
}

.appDetailsBox p {
  margin: 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #C7C7C7;
}

.btn-box {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-one, .btn-two {
  border: none;
  border-radius: 8px;
  width: 200px;
  height: 65px;
}

.btn-one:hover, .btn-two:hover {
  filter: drop-shadow(-16px 16px 100px rgba(40, 116, 240, 0.12));
  width: 225px;
  height: 73.5px;
}

.btn-one {
  background: url(../images/playStoreBadge1.png);
  background-size: contain;
  margin: 0 32px 0 0;
}

.btn-two {
  background: url(../images/appStoreBadge1.png);
  background-size: contain;
}

.appImgBox {
  width: 50%;
  height: 600px;
  display: flex;
  flex-flow: column wrap;
  grid-gap: 32px;
  overflow: hidden;
}

.rowBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 180px;
  grid-gap: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.verBox {
  border-radius: 16px;
  height: 400px;
  width: 1800px;
}

.verBox img {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.rowBox:nth-of-type(1) .verBox:first-child {
  margin: -325px 0 0 0;
}

.rowBox:nth-of-type(2) .verBox:first-child {
  margin: -225px 0 0 0;
}

.rowBox:nth-of-type(3) .verBox:first-child {
  margin: 10px 0 0 0;
}

.rowBox:nth-of-type(4) .verBox:first-child {
  margin: 125px 0 100px 0;
}

@media (max-width: 1200px) {
  .fifth-section {
    height: auto;
    flex-flow: column nowrap;
  }

  .appDetailsBox, .appImgBox {
    width: 100%;
  }

  .appImgBox {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 858px) {
   .appDetailsBox {
     height: auto;
     padding: 5% 10%;
   }

  .inner-detailBox {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .appDetailsBox h1 {
    font-size: 24px;
    line-height: 38px;
  }

  .btn-box {
    height: auto;
    width: 100%;
    grid-gap: 24px;
    flex-flow: column nowrap;
  }

  .btn-one, .btn-two {
    margin: 0;
  }
}

/************** final Section ****************/
.final-section {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #0E0F11;
}

.thS-head {
  width: 100%;
  padding: 100px 25% 0 25%;
}

.thS-head h1 {
  margin: 0 0 10px 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFE;
}

.thS-head p {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #C7C7C7;
}

.thS-body {
  position: relative;
  height: auto;
  width: 1104px;
  margin: 56px auto 0 auto;
}

.thS-body1-1, .thS-body1-2 {
  position: relative;
  width: 100%;
}

.thS-body1-1 {
  height: 600px;
  margin: 0 0 32px 0;
}

.thS-body1-2 {
  height: 600px;
  margin: 0 0 32px 0;
}

.thS-body1-1 img, .thS-body1-2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thS-body2 {
  position: relative;
  display: flex;
  grid-gap: 24px;
  flex-flow: row wrap;
  /* bottom: 0; */
  height: auto;
  width: 100%;
}

.thS-body2 div {
  height: 400px;
  width: 352px;
}

.thS-body2 div img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slider {
  display: none;
}

@media (max-width: 1200px) {
  .thS-body {
    height: auto;
    width: 600px;
  }

  .thS-body1-1 {
    height: 350px;
  }

  .thS-body1-2 {
    height: 350px;
  }

  .thS-body2 {
    grid-gap: 16px;
    flex-flow: row wrap;
    height: auto;
  }

  .thS-body2 div {
    height: 335px;
    width: 292px;
  }
}

@media (max-width: 858px) {
  .fourth-section {
    height: auto;
  }

  .thS-body {
    height: 400px;
    width: 380px;
  }

  .thS-body1-1, .thS-body1-2 {
    display: none;
  }

  .thS-body2 {
    padding: 25px;
    grid-gap: 50px;
    justify-content: center;
    flex-flow: column wrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    height: 400px;
  }

  .thS-body2::-webkit-scrollbar {
    width: 8px;
  }

  .thS-body2::-webkit-scrollbar-track {
    background-color: #0E0F11;
  }

  .thS-body2::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border: 4px solid #0E0F11;
    border-radius: 0px;
  }

  .thS-body2 div {
    height: 350px;
    width: 330px;
  }

  .slider {
    display: block;
    text-align: center;
    padding: 16px 0 0 0;
  }
}

@media (max-width: 400px) {
  .thS-body {
    width: 100%;
  }

  .thS-body2 div {
    height: 90vw;
    width: 100%;
  }
}


/***********************Transition Section*************************/
.prev, .next {
  -webkit-transition: all 1s 0s ease-in-out;
  -moz-transition: all 1s 0s ease-in-out;
  -o-transition: all 1s 0s ease-in-out;
  transition: all 1s 0s ease-in-out;
}

.resBox a {
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
}

.second-section, .s2-container, .s2-detailBox {
  -webkit-transition: all 1s 0s ease-in-out;
  -moz-transition: all 1s 0s ease-in-out;
  -o-transition: all 1s 0s ease-in-out;
  transition: all 1s 0s ease-in-out;
}

.s2-detailBox div, .s2-imgBox, .s2-floatBox {
  -webkit-transition: all 1s 0s ease-in-out;
  -moz-transition: all 1s 0s ease-in-out;
  -o-transition: all 1s 0s ease-in-out;
  transition: all 1s 0s ease-in-out;
}

.third-section, .t3-container, .t3-detailBox {
  -webkit-transition: all 1s 0s ease-in-out;
  -moz-transition: all 1s 0s ease-in-out;
  -o-transition: all 1s 0s ease-in-out;
  transition: all 1s 0s ease-in-out;
}

.t3-detailBox div, .t3-imgBox, .t3-floatBox {
  -webkit-transition: all 1s 0s ease-in-out;
  -moz-transition: all 1s 0s ease-in-out;
  -o-transition: all 1s 0s ease-in-out;
  transition: all 1s 0s ease-in-out;
}

.fourth-section, .flex-container, .flex3-box, .flex5-box {
  -webkit-transition: all 1s 0s ease-in-out;
  -moz-transition: all 1s 0s ease-in-out;
  -o-transition: all 1s 0s ease-in-out;
  transition: all 1s 0s ease-in-out;
}

.btn-one, .btn-two {
  -webkit-transition: all 0.3s 0.1s ease-out;
  -moz-transition: all 0.3s 0.1s ease-out;
  -o-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

.final-section, .thS-body, .thS-body1-1, .thS-body1-2 {
  -webkit-transition: all 1s 0s ease-out;
  -moz-transition: all 1s 0s ease-out;
  -o-transition: all 1s 0s ease-out;
  transition: all 1s 0s ease-out;
}
